@import url('https://fonts.googleapis.com/css?family=Lora:400i|Roboto&display=swap');

header {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

h1 {
  font-size: 70px;
  font-weight: normal;
  margin: 20px;
}


span {
  font-size: 70px;
}

.lemon-card {
  background: #8CFFBA;
  width: 371px;
  height: 372px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin: 15px;
}

.lemon-content {
  background-color: #CFFFE2;
  height: 248px;
  border-radius: 0 0 8px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.lemon-content-text {
  font-family: 'Lora', sans-serif;
  font-size: 32px;
  text-align: center;
  line-height: 47px;
  padding: 0 20px;
  margin: 0px;
}

 .button-text {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-weight: bold;
  font-size: 30px;
  text-transform: uppercase;
  
  
} 

.lemon-button {
  width: 311px;
  height: 50px;
  background: #FCED84;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.lemon-title { 
  color:  #166F39;
}

.space-card {
  background:  #A6CFE2;
  width: 371px;
  height: 372px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin: 15px;
}

.space-content { 
  background: #C2DCE9;
  height: 248px;
  border-radius: 0 0 8px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.space-content-text {
  font-family: 'Lora', sans-serif;
  font-size: 32px;
  text-align: center;
  line-height: 47px;
  padding: 0 20px;
  margin: 0px;
}

.space-text {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-weight: bold;
  font-size: 30px;
  /* line-height: 35px; */
  /* display: flex; */
  /* align-items: center; */
  /* text-align: center; */
  color: #000000;
}

.space-button {
  width: 311px;
  height: 50px;
  background: #0B0C11;
  color: rgb(252, 211, 10);
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

.space-title {
  color:  #0B0C11;

}

.dog-card {
  background:  #EEB200;
  width: 371px;
  height: 372px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  margin: 15px;
}

.dog-content {
  background:  #FFE086;
  height: 248px;
  border-radius: 0 0 8px 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.dog-content-text {
  font-family: 'Lora', sans-serif;
  font-size: 32px;
  text-align: center;
  line-height: 47px;
  padding: 0 20px;
  margin: 0px;
}

.dog-title {
  color: #502F7E;
}

.dog-button {
  width: 311px;
  height: 50px;
  background: #FFF;
  color: #502F7E;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  
}